* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

/* body {
    counter-reset: Link;
} */

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    position: relative;
}

p {
    color: #666;
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
}

/* start components */
    .container {
        display: flex;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }



    .container-grid-columns {
        display: grid;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        gap: 40px;
    }


    .container-flex-column {
        display: flex;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        flex-flow: column;
        gap: 40px;
    }
@media (max-width:920px) {
    .container,
    .container-grid-columns,
    .container-column {
        width: 90%;
    }

}

    section {
        padding-top: calc(var(--main-padding-top));
        padding-bottom: var(--main-padding-bottom);
        min-height: 110vh;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .section-title {
        margin: auto;
        font-size: 30px;
        width: fit-content;
        padding: 10px 20px;
        border: black solid 2px;
        text-align: center;
        margin-bottom: var(--main-padding-bottom);
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }
    
    .section-title:hover {
        transition-delay: 0.6s;
        color: white;
        
    }

    .section-title:hover::before,
    .section-title:hover::after {
        transition: 0.5s;
    }

    .section-title::before {
        content: "";
        position: absolute;
        background-color: var(--main-color);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        left: 0px;
        top: 50%;
        transform: translateY(-50%) translateX(-30px);
    }

    .section-title:hover::before {
        transform: translateY(-50%) translateX(0px);
        width: 50%;
        height: 100%;
        border-radius: 0px;
        z-index: -1;
    }

    .section-title::after {
        content: "";
        position: absolute;
        background-color: var(--main-color);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        right: 0px;
        top: 50%;
        transform: translateY(-50%) translateX(30px);
    }

    .section-title:hover::after {
        transform: translateY(-50%) translateX(0px);
        width: 50%;
        height: 100%;
        border-radius: 0px;
        z-index: -1;
    }


    .box {
        display: flex;
        flex-flow: column;
        overflow: hidden;
    }

    h1 {
        font-size: 40px;
    }

    .spikes {
        position: relative;
    }
    .spikes::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 30px;
        z-index: 1;
        background-image: 
        linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
        background-size:  1rem;
    }



/* end components */
/* start header */
header {
    height: 100vh;
    padding-bottom: var(--main-padding-bottom);
    margin-bottom: 40px;
}
/* end header */
/* nav */
.logo {
    font-size: 26px;
    font-weight: 600;
    padding-left: 20px;
    color: var(--main-color);
}
nav {
    min-height: 72px;
    width: 100%;
    background-color: white;
    position: relative;
    top: 0;
}
nav .container {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}
nav ul li {
    padding: 0px 20px   ;
    height: 72px;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
}


nav .main-links li:hover a{
    color: var(--main-color);
}

nav .main-links li::before {
    transition: width var(--main-transition);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 4px;
    background-color:  var(--main-color);

}

nav li:hover::before {
    width: 100%;
}

@media (max-width:780px) {
    nav .container {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    nav li {
        height: 50px;
    }
}

/* start megamenu */
.megamenu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 375px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%,70%);
    border-bottom: solid var(--main-color) 4px;
    background-color: #ececec;
}

.links ul {
    display: flex;
    flex-flow: column;
}
.links li {
    text-align: left;
    justify-content: flex-start; 
}

.links a {
    color: var(--main-color);
    font-weight: 600;
}

@media (max-width:1110px) {
        .megamenu img {
            display: none;
        }
    }

/*end megamenu */
/* end nav */
/* start landing */
.landing {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 90%;
    background-color: rgb(93%, 93%, 93%);
    z-index: -1;
    transform: skewY(-6deg);
    top: -40px;

}

.landing .container {
    justify-content: center;
    align-items: center;
    height: 70%;
}

.landing img {
    width: 600px;
    height: 378px;
    animation-name: img-up-down;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@media (max-width:780px) {
    .landing .image {
        display: none;
    }
    .landing img {
        display: none;
    }

    .landing h1 ,
    .landing p {
        text-align: center;
    }
}

.landing p {
    font-size: 23px;
    color: #666;
    line-height: 1.7;
}

@keyframes img-up-down {
    0% {
        transform: translateY(0px);
    }
    50%  {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.go-down {
    position: absolute;
    color: var(--main-color);
    bottom: 50px;
    left: 50%;
    animation-name: go-down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes go-down {
    0% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-0px);
    }
    100% {
        transform: translateY(-30px);
    }
}
/* end landing */
/* start articles */
.articles  .container-grid-columns{
    grid-template-columns:  repeat(auto-fill , minmax(255px,1fr));
}

.articles .box {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1) ;
    transition: transform var(--main-transition);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2) ;
}


.articles .content {
    padding: 20px;
}

.articles .content p {
    line-height: 1.5;
    margin-top:10px;
}

.articles .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    padding: 20px;
    border-top: 1px solid rgb(230, 230, 231);
}

.articles a {
    color: var(--main-color);
    font-weight: 600;
}

.articles img {
    width: 100%;
    height: 100%;

}

.articles .box:hover .info i {
    animation: box-hover 0.8s linear infinite;
}

@keyframes box-hover {
    0% {
        transform: translateX(-7px);
    }
    100% {
        transform: translateX(7px);
    }
}

/* end articles */
/* start Gallery */
.Gallery {
    background-color: rgb(93%, 93%, 93%);
}

.Gallery .container-grid-columns {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.Gallery .box {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 12px 20px rgb(0 0 0 / 13%),;
    position: relative;
}

.Gallery img {
    transition: var(--main-transition);
}

.Gallery .image:hover  img{
    transform: rotate(5deg) scale(1.1);
}
.Gallery .image {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.Gallery .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: var(--main-transition);
}

.Gallery .image:hover::before {
    animation-name: image-animation;
    animation-duration: 0.7s;
    z-index: 3;
    width: 100%;
    height: 100%;
}


@keyframes image-animation {
    0% {
        width: 0%;
        height: 0%;
        background-color: rgba(255, 255, 255, 0.3);
    }
    100% {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}

/* end Gallery */
/* start features */
.features .container-grid-columns {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    text-align: center;
    justify-content: center;
    align-items: center;
}

.features .box {
    border: 1px solid #ccc;
}

.features h3 {
    font-size: 40px;
}
.features p {
    line-height: 1.4;
    margin: 30px 0px;
    padding: 25px;
    font-size: 20px;
}
.features a {
    margin: 0px auto 30px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .image::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 200px 400px;
    z-index: 4;
    bottom: 0;
    right: 0;
    transition: var(--main-transition);
}

.features .box:hover .image::after {
    border-width: 0px 400px 200px 0px;
}

@media (max-width:727px) {
    .features .container-grid-columns {
        justify-content: center;
        align-items: center;
    }
    .features .image::after{
        border-width: 0px 0px 500px 700px;
    }

    .features .box:hover .image::after {
    border-width: 0px 700px 500px 0px;
}
}


.features a {
    position: relative;
}

.features a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    transition: var(--main-transition);
    z-index: -3;
}

.quality a{
    color: rgb(96%, 25%, 21%);
    border: 3px solid rgb(96%, 25%, 21%);
}

.quality a::after {
    background-color: rgb(96%, 25%, 21%);
}

.quality:hover a::after{
    width: 100%;
}

.quality:hover a{
    color: white;
}

.quality .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 63, 54, 0.6);
    z-index: 3;
}

.time .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0%, 59%, 53%,0.6);
    z-index: 3;
} 

.time a{
    color: rgb(0%, 59%, 53%);
    border: 3px solid rgb(0%, 59%, 53%);
}

.time a::after {
    background-color: rgb(0%, 59%, 53%);
}

.time:hover a::after{
    width: 100%;
}

.time:hover a{
    color: white;
}

.passion .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(1%, 66%, 96%,0.6);
    z-index: 3;
} 

.passion a{
    color: rgb(1%, 66%, 96%);
    border: 3px solid rgb(1%, 66%, 96%);
}

.passion a::after {
    background-color: rgb(1%, 66%, 96%);
}

.passion:hover a::after{
    width: 100%;
}

.passion:hover a{
    color: white;
}

/* end features */
/* start testimonials */
.testimonials .container-grid-columns {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.testimonials {
    background-color: var(--section-background);
}

.testimonials h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.testimonials span {
    display: block;
    color: #666;
    margin-bottom: 10px;
}

.testimonials .box {
    background-color: white;
    border-radius: 6px;
    position: relative;
    overflow: visible;
    padding: 15px;
}

.testimonials .box div .fas{
    color: gold;
    margin-bottom: 12px;
}

.testimonials p {
    line-height: 1.5;
}

.testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
    position: absolute;
    top: -30px;
    right: -30px;
}


/* end testimonials */
/* start  team-members */
.team-members .container-grid-columns {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}

.team-members .box {
    overflow: visible;
    position: relative;
}

.team-members .box::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--section-background);
    right: 0;
    top: 0;
    z-index: -1;
}

.team-members .box::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--section-background);
    right: 0;
    top: 0;
    z-index: -1;
    transition: var(--main-transition);
}

.team-members .box:hover::after {
    width: 90%;
    background-color: rgb(89%, 89%, 89%);
}

.team-members .data {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    position: relative;
    transform: translateX(-20px);
}
.team-members img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team-members .box:hover img {
    filter: grayscale(90%);
}

.team-members .social {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 20px;
}
.team-members .social a:hover {
    color: var(--main-color-alt);
} 

.team-members .info {
    padding-left: 60px;
}

.team-members h3{
    color: var(--main-color);
    margin-top: 22px;
}

.team-members p {
    margin: 10px 0px 25px 0px;
}


/* end members*/
/* start services */
.services .container-grid-columns {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    counter-reset: Link;
}

.services {
    background-color: var(--section-background);
}

.services .box {
    background-color: white;
    align-items: center;
    box-shadow: 0px 15px 20px rgb(77%, 77%, 77%);
    position: relative;
    transition: var(--main-transition);
}
.services .box:hover {
    transform: translateY(-10px);
}

.services .box::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .box:hover::before {
    width: 100%;
}

.services i {
    margin: 30px 0px 20px 0px;
    color: rgb(84%, 84%, 84%);
}

.services h3 {
    font-size: 25px;
    color: var(--main-color);
    margin: 20px 0px 40px 0px;
}

.services .box a {
    color: var(--main-color);
}

.services .box div {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(98%, 98%, 98%);
    width: 100%;
    position: relative;
}

.services .box div::before {
    counter-increment: Link;
    content: counter(Link);
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .box div::after {
    content: "";
    position: absolute;
    width: 50px;
    height: calc(100% + 30px);
    background-color: var(--section-background);
    z-index: 3;
    top: 0;
    left: 70px;
    transform: skew(-30deg);
}
/* end services */
/* start our-skills */
.our-skills .container-grid-columns {
    grid-template-columns: 45% 55%;
    gap: 0px;
}

.our-skills .skill h3{
    display: flex;
    justify-content: space-between;
    margin: 19px;
}

.our-skills .skill h3 span {
    border: 1px solid #ccc;
    color: var(--main-color);
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 4px;
}
.the-progress {
    width: 100%;
    height: 30px;
    background-color: var(--section-background);
    position: relative;
}
.the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 80%; */
    background-color: var(--main-color);
}










/* end our-skills */
/* start how-it-works */





/* end how-it-works */
/* start latest-events */




/* end latest-events */
/* start pricing-plans */




/* end pricing-plans */
/* start videos */






/* end videos */


